<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.order">

    <!--<uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />-->
    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/print_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mobile.order.activity.SalesOrderActivity">

    </activity>
        <activity android:name="com.mobile.order.activity.MainActivity">

        </activity>
        <activity android:name="com.mobile.order.activity.ConfigActivity">

        </activity>
        <activity android:name="com.mobile.order.activity.ProductActivity">

        </activity>
        <activity android:name="com.mobile.order.activity.DisplayAndUpdateProductActivity">

        </activity>
        <activity android:name="com.mobile.order.activity.SalesPersonActivity">

        </activity>
        <activity android:name="com.mobile.order.activity.DisplayAndUpdateSalesPersonActivity">

        </activity>
        <activity android:name="com.mobile.order.activity.SalesCallbackOrderDisplayActivity">

        </activity>
        <activity android:name="com.mobile.order.activity.SalesCallbackOrderSimpleDisplayActivity">

        </activity>
        <activity android:name="com.mobile.order.activity.LoginActivity">
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mobile.order.sample.wizard.MainActivity">
     <!--       <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>-->
        </activity>
        <activity android:name="com.mobile.order.activity.SalesOrderLandActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.mobile.order.activity.OnOffCameraFlashlight">

        </activity>
        <activity android:name="com.mobile.order.activity.SuccessActivity">

        </activity>
    </application>

</manifest>